html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}
    @font-face{
        font-family: jungle;
        src: url(/jungle.ttf);}
  *{
      max-width: 100%;
    box-sizing:border-box;
    
               
  }

  body{
        background-image: url('/Pics/umberto-FewHpO4VC9Y-unsplash.jpg');    
    background-size: 100vh;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-color:rgba(19, 19, 199, 0.918);
    background-image: linear-gradient(50%);      
  }
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2%;
    background-color:rgba(19, 19, 199, 0.699) ;
    margin-bottom: 20px;
}
header a{
    text-decoration: none;
}
.headername{
    background: url(/Pics/android-chrome-512x512.png) no-repeat;
    background-size: 80px;
    justify-content: center;
    display: flex;
    color: teal;
    font-family: jungle;
    letter-spacing: 3px;
    padding-left: 90px;
    text-shadow: 2px 2px black;
    font-size: 2rem;
    height: 100%;
    transition: .3s;
    border-radius: 10px;
    width: 100%;
}
.headername:hover{
    color: black;
    transform: translate(10px);
}
nav{
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;    
}
nav a{
   
    padding:5px 5px;
    background-color: darkturquoise;
    color: blue;
    text-shadow: 1px 1px black;
    border-radius: 10px; 
    transition:.5s  
}
nav a:hover{
    background-color:#000;
    color:#fff;
    transform: translate(10px);
}

.top{
    display: flex;
    width: 75%;
    height: 40vh;
    background: url(/Pics/alexandru-bogdan-ghita-eM6WUs4nKMY-unsplash.jpg)no-repeat;
    background-position: center;
    background-size: cover ;
    align-items: center;
    margin: 20px auto;
}
.name{
    color: rgb(10, 56, 184);
    font-size: 80px;
    font-family: cursive;
    margin: auto;
    text-shadow: 3px 3px black;
}

.bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding: 2%;
    width: 100%;
    height: auto;
}


.boxes{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
    width: 100%;
    height:80vh;
    display: flex;
    color: whitesmoke;
    text-align: center;
    
}
.boxes div{
    width: 30%; 
    margin: 30px auto;
    border-radius: 8px;
    border: 2px solid darkturquoise;
    background-position: center;
    background-size: cover;
    align-items: center;
    transition: 1.5s;
}
.boxes div:hover{
    transform: scale(1.5, 1.5);
}


.area1{
    background: url(/Pics/chris-ried-ieic5Tq8YMk-unsplash.jpg)no-repeat;    
}
.area2{
    background: url(/Pics/nasa-Q1p7bh3SHj8-unsplash.jpg)no-repeat; 
}
.area3{
    background: url(/Pics/farzad-nazifi-p-xSl33Wxyc-unsplash.jpg);
}
.area4{
    background: url(/Pics/goran-ivos-iacpoKgpBAM-unsplash.jpg);
}
.area5{
    background: url(/Pics/luca-bravo-XJXWbfSo2f0-unsplash.jpg);
}
.area6{
    background: url(/Pics/markus-spiske-Skf7HxARcoc-unsplash.jpg);
}
.boxes div div{
    margin-top: 20px;
    position: relative;
    top: 100%;
}



footer {
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 20px;
    justify-content: space-evenly;
    background-color:rgba(19, 19, 199, 0.699) ;
    margin-top: 20px;
  }
footer a{text-decoration: none;
    
}
.contact{
    display: flex;
    align-items: center;
}

.contact a{
    font-size: 20px;
    background-color: darkturquoise;
    color: blue;
    border-radius: 10px; 
    transition:2s;
    padding: 5px;
    
}
.contact a:hover{
    background-color:#000;
  color:#fff;
}
.social{
    display: flex;
    align-items: center;
}
.social a{
    font-size: 2rem;
    padding: 8px;
    color: cornsilk;
    transition:1s
}
.social a:hover{
    background-color:#000;
    color:#fff;
}






